APVRising/bin
APVRising/obj
/APVRising/.vs/APVRising/FileContentIndex
/APVRising/.vs/APVRising/DesignTimeBuild
/APVRising/.vs/APVRising/FileContentIndex
/APVRising/.vs/APVRising/DesignTimeBuild
/APVRising/.vs/APVRising/v18
/APVRising/.vs/APVRising/v18
/APVRising/.vs/APVRising/v18
/APVRising/.vs/ProjectEvaluation
/APVRising/.vs/ProjectEvaluation
/APVRising/.vs/APVRising/v18
